
.dark-mode {
  background-color: #121212 !important;
  color: #f0f0f0 !important;
}
.dark-mode input,
.dark-mode select,
.dark-mode textarea {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
}
.dark-mode .sidebar {
  background-color: #1e1e1e;
  color: white;
}
.dark-mode button {
  background-color: #333;
  color: white;
}
